name: Publish package (pypi)

on:
  workflow_call:
    inputs:
      generate:
        description: Generate the parser artifacts
        default: false
        type: boolean
    secrets:
      PYPI_API_TOKEN:
        description: An authentication token for pypi
        required: true

jobs:
  build_sdist:
    name: Build source dist
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
      - name: Set up tree-sitter CLI
        if: ${{inputs.generate}}
        uses: tree-sitter/setup-action/cli@v2
      - name: Regenerate parser
        if: ${{inputs.generate}}
        run: npx tree-sitter generate
      - name: Install build tools
        run: pip install --upgrade pip build setuptools wheel
      - name: Build sources
        run: python -mbuild -n -s
      - name: Upload sources
        uses: actions/upload-artifact@v4
        with:
          name: dist-sources
          path: dist/*.tar.gz
          retention-days: 2

  build_wheels:
    name: Build wheels
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up tree-sitter CLI
        if: ${{inputs.generate}}
        uses: tree-sitter/setup-action/cli@v2
      - name: Regenerate parser
        if: ${{inputs.generate}}
        run: npx tree-sitter generate
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.22
        with:
          output-dir: dist
        env:
          CIBW_ARCHS: native
      - name: Upload wheel artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-wheels
          path: dist/*.whl
          retention-days: 2

  package:
    name: Publish Python package
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist
          pattern: dist-*
          merge-multiple: true
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{secrets.PYPI_API_TOKEN}}
